.covid__header {
  font-size: 4rem;
  color: salmon;
  font-weight: bold;
}

.covid__body {
  background-color: aliceblue;
  height: 100%;
}

.covid__table {
  width: auto;
  margin-top: 5%;
}

.covid__table-header {
  font-size: xx-large !important;
  width: 100%;
}

.covid__full-data-body {
  text-align: center;
}

.covid__full-data-body .accordion {
  font-weight: bolder;
  font-size: x-large;
}