body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: black;
}

ol, ul {
}


.he{
	background: white;
	width:100%;
}

.board{
	width:100%;
	
}

.game{
	width:100%;
     margin: 0 auto;
	 min-height:100%;
     margin: 0 auto;
	 max-width:1000px;
	align:center;
}


.board-row{
	text-align:center;
	width:100%;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.gamet{
color:red;
text-align: center;
font-weight: bold;
font-size: 36px;
}
.abc {
  margin-bottom: 10px;
  color: white;
  width:100%;
  text-align: center;
}
.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.square {
  background: #ED846F;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 15px;
  margin-top: 30px;
  padding: 10;
  text-align: center;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.button5 {border-radius: 50%;}

.button4 {border-radius: 50%;
background: white;}

.square span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.square span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.square:hover span {
  padding-right: 25px;
}

.square:hover span:after {
  opacity: 1;
  right: 0;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.popup {
  position: relative;
  text-align:center;
  display: inline-block;
  cursor: pointer;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: white;
  font-style:italic;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
}
