.covid__header {
  font-size: 4rem;
  color: salmon;
  font-weight: bold;
}

.covid__body {
  background-color: aliceblue;
  height: 100%;
  text-align: center;
}

.covid__table {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}